doctype
html(lang="en")
	include incluide/header.pug
	body
		h1 Incluir PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facilis est nam, expedita eaque. Ipsum vero sapiente, tenetur voluptas aliquid accusantium. Molestiae distinctio ratione commodi! Vel officiis laborum temporibus nulla.

		include includes/footer.pug  